*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0c1824;
    height: 100vh;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(22, 38, 53, 0.9);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 99;
}
.logo img{
    max-width: 40px;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a:nth-child(2){
    font-size: 30px;
    color: #fff;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    margin: 0 25px;
    font-size: 20px;
    color: #fff;
}
nav ul li:hover{
    margin: 0 25px;
    font-size: 20px;
    color: #555555;
}
.sign a{
    color: #fff;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 600;
}
.sign a:nth-child(1){
    color: #555555;
    margin-right: 20px;
}
.sign a:nth-child(1):hover{
    color: #fff;
}
.sign a:nth-child(2){
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
}
.sign a:nth-child(2):hover{
    background-color: #fff;
    color: #000;
}

.Home{
    position: relative;
    background-image: url(img/download.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-right: 50px;
    border-top-right-radius: 600px;
    display: flex;
    align-items: center;
    /* background-color: #1e3348;
    opacity: 0.6; */
    z-index: 0;
}
.Home .color{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 30, 43, 0.8);
    border-top-right-radius: 600px;
    /* opacity: 0.6; */
    z-index: 1;
}
/* .Home img{
    margin-left: -60px;
    width: 100%;
    border-top-right-radius: 600px ;
} */
.Home-content{
    position: relative;
    font-size: 40px;
    color: #fff;
    margin: 30px;
    margin-top: 180px;
    line-height: 2.5em;
    z-index: 2;
}
.Home-content h1{
    font-size: 120px;
    line-height: 1em;
    margin-top: 60px;
}
.Home-content h1 span{
    color: #fbc75d;
}
.Home-content p{
    font-size: 30px;
    margin: 10px;
}
.buttons a:nth-child(1){
    border:3px solid #1e3348;
    color: #1e3348;
    background: #fbc75d;
    font-size: 30px;
    padding: 25px 50px;
    margin-right: 20px;
    border-radius: 50px;
}
.buttons a:nth-child(2){
    border:3px solid #fbc75d;
    color: #fbc75d;
    background: transparent;
    font-size: 30px;
    padding: 20px 40px;
    margin-right: 20px;
    border-radius: 50px;
}
.buttons a span{
    font-weight: bold;
}
